version: "3.9"

services:
  app:
    build: .
    container_name: order-engine
    depends_on:
      - postgres
      - redis
    ports:
      - "3000:3000"
    environment:
      # PostgreSQL
      PGHOST: postgres
      PGUSER: postgres
      PGPASSWORD: postgres
      PGDATABASE: orders
      PGPORT: 5432

      # Redis
      REDIS_URL: redis://redis:6379

      # Server
      PORT: 3000
      NODE_ENV: development

    # DO NOT USE VOLUMES FOR PRODUCTION (it hides dist/)
    # volumes:
    #   - .:/usr/src/app
    #   - /usr/src/app/node_modules

  postgres:
    image: postgres:15
    container_name: postgres-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: orders
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: redis-cache
    restart: unless-stopped
    ports:
      - "6379:6379"

volumes:
  pgdata:
